<h1>Products</h1>
<table>
  <!-- Table headers -->
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Weight</th>
    <th>Size</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>In Stock</th>
    <th>Actions</th>
  </tr>
  <!-- Table body with dynamic content -->
  {{#each products as |product| }}
  <tr>
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.weight}}</td>
    <td>{{product.size}}</td>
    <td>{{product.price}}</td>
    <td>{{product.quantity}}</td>
    <td>
    {{#if in_stock}}
    <!-- This code will be rendered if the condition (has_nuts) is truthy -->
      <p class="in-stock">
        Yes
      </p>
      <!-- Below, we end the #if helper -->
    {{/if}}
    </td>
    <td>
      <!-- Example actions -->
      <button>Edit</button>
      <button>Delete</button>
    </td>
  </tr>
  {{/each}}
</table>
 <!-- Add a new procust -->
<div class="add-product-container">
    <h2>
   Add a new product
    </h2>
    <form class="new-product-form">
      <label for="product_name">
        Product Name:
      </label>
      <br />
      <textarea id="product_name" name="product_name" rows="2" cols="30">
      {{name}}
    </textarea>
      <br />
      <label for="weight">
        Weight:
      </label>
      <br />
      <textarea id="weight" name="weight" rows="5" cols="30">
      {{weight}}
    </textarea>
      <br />
      <label for="size">
        Size:
      </label>
      <br />
      <textarea id="size" name="size" rows="2" cols="30">
      {{size}}
    </textarea>
         <br />
      <label for="price">
        Price:
      </label>
      <br />
      <textarea id="price" name="price" rows="2" cols="30">
      {{price}}
    </textarea>
         <br />
      <label for="quantity">
        Quantity:
      </label>
      <br />
      <textarea id="quantity" name="quantity" rows="2" cols="30">
      {{quantity}}
    </textarea>
    <br />
     {{#if in_stock}}
      <input type="checkbox" id="in_stock" name="in_stock" checked />
      {{else}}
      <input type="checkbox" id="in_stock" name="in_stock" />
      {{/if}}
      <label for="in_stock">
        Check box if the product is in stock
      </label>
      <button type="submit" value="Submit">
        Submit
      </button>
    </form>
  </div>
</div>
