<h1>Products</h1>
<table>
  <!-- Table headers -->
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Name</th>
    <th>Weight</th>
    <th>Size</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>In Stock</th>
    <th>Actions</th>
  </tr>
  <!-- Table body with dynamic content -->
  {{#each products as |product| }}
  <tr>
    <td>{{product.id}}</td>
    <td><img src="../public/images/{{product.image}}" alt="{{description}}"></td>
    <td>{{product.name}}</td>
    <td>{{product.weight}}</td>
    <td>{{product.size}}</td>
    <td>{{product.price}}</td>
    <td>{{product.quantity}}</td>
    <td>
    {{#if in_stock}}
    <!-- This code will be rendered if the condition (has_nuts) is truthy -->
      <p class="in-stock">
        Yes
      </p>
      <!-- Below, we end the #if helper -->
    {{/if}}
    </td>
<td>
<input type="button" id="edit-btn" value="Edit" onclick="Edit(this)">
<input type="button" id="delete-btn" value="Delete" onclick="Delete(this)">
        </td>
  </tr>
  {{/each}}
  </table>
